:root{
    --color-green-light: hsl(148, 38%, 91%);
    --color-green-medium: hsl(169, 82%, 27%);
    --color-red: hsl(0, 66%, 54%);
    --color-white: hsl(0, 0%, 100%);
    --color-grey-medium: hsl(186, 15%, 59%);
    --color-grey-darker: hsl(187, 24%, 22%);

    --font-family: "karla";

    --body-padding-desktop: 5rem 0px;
    --main-padding-desktop: 2rem;
    
    --field-padding-Y: .75rem;
    --field-padding-H: 1rem;

    --half-row-gap: 1rem;

    --font-size-base: 1rem;
}

@font-face {
    font-family: "karla";
    src: url("/assets/fonts/Karla-VariableFont_wght.ttf") format("truetype");
    font-weight: 400 700;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: var(--font-size-base);
    font-family: var(--font-family);
    color: var(--color-grey-darker);
}

body{
    padding: var(--body-padding-desktop);
    min-height: 100vh;
    width: 100vw;
    background-color: var(--color-green-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-message{
    color: var(--color-red);
}

.error-input{
    border-color: red !important;
}

.hidden{
    display:none;
}

main{
    border-radius: 1rem;
    padding: var(--main-padding-desktop);
    width:50%;
    background-color: var(--color-white);
}

h1{
    font-size: calc(var(--font-size-base) * 2);
}

form{
    margin-top: 2rem;
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr 2fr 2rem 3rem;
    column-gap: var(--half-row-gap);
    row-gap: 2rem;
    align-content: center;
}

.full-row{
    grid-column: span 2;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.form-subgroup{
    display: flex;
    gap: var(--half-row-gap);
}

.form-subgroup label{
    width: 100%;
}

.half-width{
    width: 50%;
}

.required-input{
    position: relative;
    width: fit-content;
}

.required-input::after{
    position: absolute;
    top: 0;
    right: -1rem;
    content: "*";
    font-size: calc( var(--font-size-base) * 1.25);
    color:var(--color-green-medium)
}

input[type="text"], input[type="email"], textarea, .makeshift-input {
    padding: var(--field-padding-Y) var(--field-padding-H);
    border: 1px solid var(--color-grey-medium);
    border-radius: .5rem;
}

input[type="radio"], input[type="checkbox"]{
    width: 1rem;
    height: 1rem;
}

textarea{
    resize: none;
    height: 100%;
}

.form-query-group, .form-agreement-group{
    display: flex;
    align-items: center;
    gap: var(--field-padding-H);
}

button[type="submit"]{
    grid-column: span 2;
    border: none;
    border-radius: .5rem;
    background-color: var(--color-green-medium);
    color: var(--color-white);
}

.form-query-group.checked{
    background-color: var(--color-green-light);
}

input:hover, label:hover, button[type="submit"]:hover{
    cursor: pointer;
}

input[type="text"]:hover, input[type="email"]:hover, textarea:hover{
    border-color: var(--color-green-medium) !important;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus{
    outline: 2px solid var(--color-green-medium);
}

button[type="submit"]:hover{
    background-color: var(--color-grey-darker);
}